[Desktop]
{% if vnc_desktop == "gnome" and ansible_distribution == "Ubuntu" %}
Session=ubuntu
{% elif vnc_desktop == "gnome" %}
Session=gnome
{% elif vnc_desktop == "xfce4" %}
Session=xfce
{% endif %}
