#!/bin/bash
sudo systemctl stop {{ vnc_systemd_service_name }}@:{{ item.item.vnc_num }}.service

{% if ansible_distribution == "Ubuntu" %}
# Observing some problems on Ubuntu 22.04 where vncstop.sh doesn't kill all vnc processes.
sleep 1
pkill -f /etc/X11/Xtigervnc-session || true
echo "You may need to wait a minute before running vncstart.sh again. Check processes after each step using: ps -ef | grep vnc"
{% endif %}
