#!/bin/sh
{% if vnc_ansible_managed_xstartup == True %}
#{{ ansible_managed }}
{% endif %}

{{ xstartup_additional_command1 }}
{% if vnc_desktop == "gnome" %}
export XKL_XMODMAP_DISABLE=1
{% endif %}
unset SESSION_MANAGER
unset DBUS_SESSION_BUS_ADDRESS

[ -x /etc/vnc/xstartup ] && exec /etc/vnc/xstartup
[ -r $HOME/.Xresources ] && xrdb $HOME/.Xresources

xsetroot -solid grey
vncconfig -iconic &

{% if vnc_desktop == "gnome" and ansible_os_family == "RedHat" %}
exec /etc/X11/xinit/xinitrc
{% elif vnc_desktop == "mate" and ansible_os_family == "RedHat" %}
/etc/X11/xinit/xinitrc
# Assume either Gnome or KDE will be started by default when installed
# We want to kill the session automatically in this case when user logs out. In case you modify
# /etc/X11/xinit/Xclients or ~/.Xclients yourself to achieve a different result, then you should
# be responsible to modify below code to avoid that your session will be automatically killed
#if [ -e /usr/bin/gnome-session -o -e /usr/bin/startkde ]; then
#    vncserver -kill $DISPLAY
#fi
{% elif vnc_desktop == "mate" and ansible_os_family == "Debian" %}
# need to define
{% elif vnc_desktop == "xfce4" %}
xfce4-panel &
startxfce4
{% else %}
{# gnome on debian as the default #}
gnome-panel &
gnome-settings-daemon &
metacity &
nautilus &
gnome-terminal &
gnome-session --session=gnome-classic &
{% endif %}
